<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom's Solihull College Work</title>

    <style>
        body {
            max-width: 50em;
            margin: 0 auto;
            padding: 1em;
        }

        a {
            color: darkblue;
            text-decoration: underline;
        }

        a:hover {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <header>
        <h1>Tom's Solihull College Work</h1>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>
            By <a href="https://thomasr.me">Tom</a>. All content completed between September 2021 and July 2023.<br>
            Got any questions? <code>solcol [at] TomR [dot] me</code>.
        </p>
    </footer>
</body>
</html>