<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url=https://github.com/solcol">
    <title>Tom's Solihull College Work</title>
</head>
<body>
    <h1>Tom's Solihull College Work</h1>
    <h2>This page has moved!</h2>
    <hr>
    <p>If nothing happens, follow the following link: <a href="https://github.com/solcol">github.com/solcol</a>.</p>
</body>
</html>